<p id="notice"><%= notice %></p>

<p>
<strong><%= Product.human_attribute_name :name %></strong>
  <%= @product.name %>
</p>

<p>
<strong><%= Product.human_attribute_name :price  %></strong>
  <%= @product.price %>
</p>

<p>
<strong><%= Product.human_attribute_name :stock  %></strong>
  <%= @product.stock %>
</p>

<p>
<strong><%= Product.human_attribute_name :note  %></strong>
  <%= @product.note %>
</p>

<%= link_to '編集', edit_product_path(@product) %> |
<%= link_to '戻る', products_path %>
